body {
  background: var(--cor-de-fundo) no-repeat top center / cover;
  min-height: 100vh;
}

#app {
  min-width: 100%;
}

.max-width {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 3rem;
}

section {
  padding: 4rem 0;
}
