html {
  scroll-behavior: smooth;
}

body {
  background: var(--cor-de-fundo) no-repeat;
  min-height: 100vh;
}

.max-width {
  width: 100%;
  max-width: 128rem;
  margin: auto;
  padding: 0 3rem;
}

section {
  padding: 4.8rem 0;
}
