.carrossel-de-elementos-da-magnix {
  width: 100%;

  padding: 0.8rem 0;

  background: var(--cor-primaria);

  overflow: hidden;
}

.carrossel-de-elementos-da-magnix
  .conteudo-do-carrossel-de-elementos-da-magnix {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;

  animation: apareceNaTelaInfinitamente 20s infinite linear;
}

.carrossel-de-elementos-da-magnix .engrenagem {
  width: 3.2rem;
  height: 3.2rem;

  filter: invert(100%);
}

.carrossel-de-elementos-da-magnix .texto-1-do-carrossel-de-elementos-da-magnix {
  width: 100%;
  max-width: 25.6rem;
}

.carrossel-de-elementos-da-magnix .logo-da-magnix-branca {
  width: 5.6rem;
  height: 5.6rem;
}

.carrossel-de-elementos-da-magnix .texto-2-do-carrossel-de-elementos-da-magnix {
  width: 100%;
  max-width: 32rem;
}

.carrossel-de-elementos-da-magnix .texto-3-do-carrossel-de-elementos-da-magnix {
  width: 100%;
  max-width: 25.6rem;
}
