#comparison-section {
  position: relative;
}

#comparison-section #green-checkbox,
#comparison-section #red-checkbox {
  position: absolute;
  z-index: -1;

  width: 100%;
  max-width: 25.6rem;
}

#comparison-section #green-checkbox {
  left: 0;
  top: 24%;
}

#comparison-section #red-checkbox {
  right: 0;
  top: 64%;
}

#comparison-section h2,
#comparison-section h2 span {
  font-size: 3.6rem;
  font-weight: 400;

  line-height: 4rem;
}

#comparison-section h2 {
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 4.8rem;

  color: var(--foreground);
}

#comparison-section h2 span {
  background-image: var(--primary);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

#comparison-section #wrapper-comparison {
  display: flex;
  flex-wrap: wrap;
  gap: 4.8rem;
  justify-content: center;
}

#comparison-section #wrapper-comparison #magnix,
#comparison-section #wrapper-comparison #other-agencies {
  background: var(--accent);

  padding: 2.4rem 1.2rem;

  border-radius: 0.8rem;

  width: 100%;
  max-width: 57.6rem;
}

#comparison-section #wrapper-comparison #magnix h3,
#comparison-section #wrapper-comparison #other-agencies h3 {
  font-size: 2.4rem;

  line-height: 3rem;

  background-image: var(--primary);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;

  text-align: center;

  margin-bottom: 2.4rem;
}

#comparison-section #wrapper-comparison #magnix #wrapper-content-magnix,
#comparison-section
  #wrapper-comparison
  #other-agencies
  #wrapper-content-other-agencies {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

#comparison-section
  #wrapper-comparison
  #magnix
  #wrapper-content-magnix
  .content-magnix,
#comparison-section
  #wrapper-comparison
  #other-agencies
  #wrapper-content-other-agencies
  .content-other-agencies {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#comparison-section
  #wrapper-comparison
  #magnix
  #wrapper-content-magnix
  .content-magnix
  h4,
#comparison-section
  #wrapper-comparison
  #other-agencies
  #wrapper-content-other-agencies
  .content-other-agencies
  h4 {
  font-size: 2rem;

  line-height: 2.4rem;

  background-image: var(--primary);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

#comparison-section
  #wrapper-comparison
  #magnix
  #wrapper-content-magnix
  .content-magnix
  .wrapper-content-magnix-subsection-separation-line,
#comparison-section
  #wrapper-comparison
  #other-agencies
  #wrapper-content-other-agencies
  .content-other-agencies
  .content-other-agencies-subsection-separation-line {
  width: 100%;
  height: 0.2rem;

  background: var(--primary);
}

#comparison-section
  #wrapper-comparison
  #magnix
  #wrapper-content-magnix
  .content-magnix
  p,
#comparison-section
  #wrapper-comparison
  #other-agencies
  #wrapper-content-other-agencies
  .content-other-agencies
  p {
  color: var(--foreground);

  font-size: 1.8rem;

  line-height: 2rem;
}

@media (min-width: 76.8rem) {
  #comparison-section #green-checkbox,
  #comparison-section #red-checkbox {
    top: 25.6rem;
  }

  #comparison-section
    #wrapper-comparison
    #magnix
    #wrapper-content-magnix
    .content-magnix,
  #comparison-section
    #wrapper-comparison
    #other-agencies
    #wrapper-content-other-agencies
    .content-other-agencies {
    flex-direction: row;
  }

  #comparison-section
    #wrapper-comparison
    #magnix
    #wrapper-content-magnix
    .content-magnix
    .wrapper-content-magnix-subsection-separation-line,
  #comparison-section
    #wrapper-comparison
    #other-agencies
    #wrapper-content-other-agencies
    .content-other-agencies
    .content-other-agencies-subsection-separation-line {
    width: 0.2rem;
    height: 2.4rem;

    background: var(--primary);
  }
}
