#comparison-section h2,
#comparison-section h2 span {
  font-size: 3.6rem;
  font-weight: 400;

  line-height: 4rem;
}

#comparison-section h2 {
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 4.8rem;

  color: var(--foreground);
}

#comparison-section h2 span {
  background-image: var(--primary);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}
