#home-section #wrapper-columns-home-section {
  display: flex;
  flex-wrap: wrap;
  gap: 4.8rem;
}

#home-section #wrapper-columns-home-section #column-1-home-section {
  width: 100%;
  max-width: 57.6rem;
}

#home-section #wrapper-columns-home-section #column-1-home-section h1 {
  font-size: 3.6rem;

  line-height: 4rem;

  background-image: var(--primary);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;

  animation: apareceNaTela 2000ms;
}

#home-section #wrapper-columns-home-section #column-1-home-section h2 {
  font-size: 2.4rem;

  line-height: 3rem;

  color: var(--foreground);

  margin: 4.8rem 0;

  animation: apareceNaTela 2200ms;
}

#home-section #wrapper-columns-home-section #column-1-home-section button {
  font-size: 2.4rem;

  line-height: 3rem;

  color: var(--foreground);

  background: var(--primary);

  border: none;
  border-radius: 9999px;

  padding: 1.2rem 2.4rem;

  cursor: pointer;

  animation: apareceNaTela 2400ms;
}

#home-section #wrapper-columns-home-section #column-2-home-section img {
  width: 100%;
  max-width: 57.6rem;
}

@media (max-width: 768px) {
  #home-section #wrapper-columns-home-section #column-1-home-section h1 {
    font-size: 3rem;

    line-height: 3.6rem;
  }

  #home-section #wrapper-columns-home-section #column-1-home-section h2,
  #home-section #wrapper-columns-home-section #column-1-home-section button {
    font-size: 2rem;

    line-height: 2.4rem;
  }
}
