.linha-entre-secoes {
  width: 100%;
  padding: 0.8rem 0;

  background: var(--cor-primaria);
}

.linha-entre-secoes .caixa-da-linha-entre-secoes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  animation-name: apareceNaTelaInfinitamente;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.linha-entre-secoes .caixa-da-linha-entre-secoes .engrenagem {
  width: 3.2rem;
  height: 3.2rem;

  filter: invert(100%);
}

.linha-entre-secoes .caixa-da-linha-entre-secoes p {
  color: var(--cor-de-texto);

  font-weight: 300;

  font-size: 1.4rem;
  line-height: 1.6rem;
}

.linha-entre-secoes .caixa-da-linha-entre-secoes .magnix-logo-branca {
  width: 5.6rem;
  height: 5.6rem;
}
