#secao-de-clientes {
  overflow: hidden;
}

#secao-de-clientes h2 {
  font-size: 2.4rem;
  font-weight: 600;

  line-height: 3rem;

  background-image: var(--cor-primaria);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;

  text-transform: uppercase;
  text-align: center;

  margin-bottom: 4.8rem;
}

#secao-de-clientes #conteudo-da-secao-de-clientes {
  background: var(--cor-primaria);

  padding: 0.8rem 0;

  overflow: hidden;
}

#secao-de-clientes #clientes {
  display: flex;
  gap: 4.8rem;
  justify-content: center;
  align-items: center;

  animation: apareceNaTelaInfinitamente 20s infinite linear;
}

#secao-de-clientes .cliente {
  width: 100%;
  max-width: 4.8rem;
}

#secao-de-clientes #cliente-40-eduardo-coelho-logo {
  height: 2.4rem;

  object-fit: contain;
}

@media (width >= 76.8rem) {
  #secao-de-clientes h2 {
    font-size: 3rem;

    line-height: 3.6rem;
  }
}
