#secao-de-contato #conteudo-da-secao-de-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

#secao-de-contato img {
  width: 100%;
  max-width: 76.8rem;
}

#secao-de-contato a {
  border-radius: 2rem;

  padding: 1.2rem 2.4rem;

  background: var(--cor-primaria);

  color: var(--cor-de-texto);

  font-size: 1.8rem;
  font-weight: 500;

  line-height: 3rem;

  cursor: pointer;

  text-decoration: none;
  text-transform: uppercase;

  display: inline-block;

  text-align: center;
}

@media (width >= 76.8rem) {
  #secao-de-contato a {
    font-size: 2rem;

    line-height: 2.4rem;
  }
}
