#secao-de-contato {
  padding-bottom: 8rem;
}

#secao-de-contato #caixa-de-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

#secao-de-contato #caixa-de-contato img {
  width: 100%;
  max-width: 76.8rem;
}

#secao-de-contato #caixa-de-contato a {
  border-radius: 999.9rem;

  padding: 1.2rem 2.4rem;

  background: var(--cor-primaria);

  color: var(--cor-de-texto);

  font-size: 2.4rem;

  line-height: 3rem;

  cursor: pointer;

  text-decoration: none;

  text-transform: uppercase;
}

@media (max-width: 768px) {
  #secao-de-contato #caixa-de-contato a {
    font-size: 1.4rem;

    line-height: 1.6rem;
  }
}
