#secao-de-ofertas {
  position: relative;
}

#secao-de-ofertas #g-branco-1-da-secao-de-ofertas,
#secao-de-ofertas #g-branco-2-da-secao-de-ofertas {
  position: absolute;
  z-index: -1;

  width: 100%;
  max-width: 51.2rem;
}

#secao-de-ofertas #g-branco-1-da-secao-de-ofertas {
  left: 0;
  bottom: 0;
}

#secao-de-ofertas #g-branco-2-da-secao-de-ofertas {
  right: 0;
  top: 0;
}

#secao-de-ofertas h2 {
  font-size: 2.4rem;
  font-weight: 600;

  line-height: 3rem;

  background-image: var(--cor-primaria);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;

  text-transform: uppercase;
  text-align: center;

  margin-bottom: 4.8rem;
}

#secao-de-ofertas #ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

#secao-de-ofertas .oferta {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 32rem;
}

#secao-de-ofertas h3 {
  font-size: 2rem;
  font-weight: 500;

  line-height: 2.4rem;

  color: var(--cor-de-texto);

  text-align: center;
}

#secao-de-ofertas img {
  width: 100%;
  max-width: 16rem;
}

#secao-de-ofertas .fundo-do-texto-da-secao-de-ofertas {
  background: var(--cor-de-texto);

  padding: 2.4rem 1.2rem;

  border-radius: 2.4rem;

  height: 28.8rem;
}

#secao-de-ofertas p {
  line-height: 1.8rem;

  color: var(--cor-secundaria);
}

@media (width >= 76.8rem) {
  #secao-de-ofertas h2 {
    font-size: 3rem;

    line-height: 3.6rem;
  }

  #secao-de-ofertas h3 {
    font-size: 2.4rem;

    line-height: 3rem;
  }

  #secao-de-ofertas p {
    font-size: 1.8rem;

    line-height: 2rem;
  }
}
