#secao-de-brian-sthefano {
  position: relative;

  overflow: hidden;
}

#secao-de-brian-sthefano #g-branco-da-secao-de-brian-sthefano {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  width: 100%;
  max-width: 32.8rem;
}

#secao-de-brian-sthefano #conteudo-da-secao-de-brian-sthefano {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#secao-de-brian-sthefano h2 {
  font-size: 2.4rem;
  font-weight: 600;

  line-height: 3rem;

  background-image: var(--cor-primaria);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

#secao-de-brian-sthefano h3 {
  font-size: 2rem;
  font-weight: 600;

  line-height: 2.4rem;

  color: var(--cor-de-texto);

  margin: 2.4rem 0;
}

#secao-de-brian-sthefano p {
  font-size: 1.8rem;
  font-weight: 500;

  line-height: 2.4rem;

  color: var(--cor-de-texto);
}

#secao-de-brian-sthefano #foto-de-brian-sthefano {
  width: 100%;
  max-width: 57.6rem;
}

@media (width >= 768px) {
  #secao-de-brian-sthefano h2 {
    font-size: 3rem;

    line-height: 3.6rem;
  }

  #secao-de-brian-sthefano h3 {
    font-size: 2.4rem;

    line-height: 3rem;
  }

  #secao-de-brian-sthefano p {
    font-size: 2rem;
  }
}

@media (width >= 1024px) {
  #secao-de-brian-sthefano #conteudo-da-secao-de-brian-sthefano {
    flex-direction: row;
  }
}
