#secao-de-sobre #caixa-do-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

#secao-de-sobre #caixa-do-sobre img {
  width: 100%;
  max-width: 46.8rem;
}

#secao-de-sobre #caixa-do-sobre #caixa-do-conteudo-do-sobre {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  width: 100%;
  max-width: 57.6rem;
}

#secao-de-sobre #caixa-do-sobre #caixa-do-conteudo-do-sobre h2 {
  font-size: 3.6rem;

  line-height: 4rem;

  background-image: var(--cor-primaria);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

#secao-de-sobre #caixa-do-sobre #caixa-do-conteudo-do-sobre h3 {
  font-size: 2.4rem;

  line-height: 3rem;

  color: var(--cor-de-texto);
}

#secao-de-sobre #caixa-do-sobre #caixa-do-conteudo-do-sobre p {
  font-size: 2rem;

  line-height: 2.4rem;

  color: var(--cor-de-texto);
}

@media (max-width: 768px) {
  #secao-de-sobren #caixa-do-sobre {
    flex-wrap: wrap-reverse;
  }

  #secao-de-sobre #caixa-do-sobre #caixa-do-conteudo-do-sobre h2 {
    font-size: 3rem;

    line-height: 3.6rem;
  }

  #secao-de-sobre #caixa-do-sobre #caixa-do-conteudo-do-sobre h3 {
    font-size: 2rem;

    line-height: 2.4rem;
  }

  #secao-de-sobre #caixa-do-sobre #caixa-do-conteudo-do-sobre p {
    font-size: 1.8rem;

    line-height: 2rem;
  }
}
