* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --background: linear-gradient(
    to left top,
    #573aac 0%,
    #4c3398 26%,
    #3c277a 53%,
    #0d0d0d 100%
  );
  --foreground: #ffffff;
  --primary: linear-gradient(to right, #f5aa35 0%, #e96233 100%);
  --secondary: #0c0c0c;
}

body * {
  font-size: 1.6rem;
  font-family: "Inter", serif;
}

.max-width {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 3rem;
}

#app {
  min-height: 100vh;

  background: var(--background);

  position: relative;
  z-index: 1;
}

#app #g-white {
  top: 2.4rem;
}

#app #g-white,
#app #offers-section #g-white-offers-section-1,
#app #offers-section #g-white-offers-section-2 {
  position: absolute;

  width: 100%;
  max-width: 51.2rem;
  z-index: -1;
}

#app header {
  padding: 8rem 0 2.4rem;
}

#app header img {
  width: 12.8rem;
}

#app #home-section,
#app #offers-section,
#app #target-audience-section {
  padding: 2.4rem 0;
}

#app #home-section .max-width,
#app #target-audience-section #wrapper-target-audiences {
  display: flex;
  flex-wrap: wrap;
  gap: 4.8rem;
}

#app #home-section #column-1-home-section {
  flex: 1;
}

#app #home-section h1,
#app #offers-section h2,
#app #target-audience-section h2,
#app #target-audience-section h2 span {
  font-size: 3.6rem;
  font-weight: 400;

  line-height: 4rem;

  background-image: var(--primary);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

#app #home-section h2 {
  font-size: 2.4rem;
  font-weight: 400;

  line-height: 3rem;

  color: var(--foreground);

  margin: 4.8rem 0;
}

#app #home-section button {
  font-size: 2.4rem;
  font-weight: 400;

  line-height: 3rem;

  color: var(--foreground);

  background: var(--primary);

  border: none;
  border-radius: 9999px;

  padding: 1.2rem 2.4rem;

  cursor: pointer;
}

#app #home-section img {
  width: 100%;
  max-width: 67.2rem;
}

#app .line-section {
  width: 100%;
  height: 3.6rem;

  background: var(--primary);
}

#app #offers-section h2,
#app #target-audience-section h2 {
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 4.8rem;
}

#app #offers-section {
  position: relative;
}

#app #offers-section #g-white-offers-section-1 {
  left: 0;
  bottom: 0;
}

#app #offers-section #g-white-offers-section-2 {
  right: 0;
  top: 0;
}

#app #offers-section #offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

#app #offers-section #offers .offer {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 32rem;
}

#app #offers-section #offers .offer h3,
#app #target-audience-section #target-audiences .target-audience h3 {
  font-size: 2rem;
  font-weight: 400;

  line-height: 2.4rem;

  color: var(--foreground);

  text-align: center;
}

#app #offers-section #offers .offer img {
  width: 100%;
  max-width: 16rem;
}

#app #offers-section #offers .offer .wrapper-text-offer {
  background: var(--foreground);

  padding: 2.4rem 1.2rem;

  border-radius: 2.4rem;

  height: 28.8rem;
}

#app #offers-section #offers .offer .wrapper-text-offer p {
  font-size: 1.6rem;
  font-weight: 400;

  line-height: 1.8rem;

  color: var(--secondary);
}

#app #target-audience-section h2 {
  color: var(--foreground);
}

#app #target-audience-section img {
  width: 100%;
  max-width: 57.6rem;
}

#app #target-audience-section #target-audiences {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  justify-content: center;

  flex: 1;
}

#app #target-audience-section #target-audiences .target-audience {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

#app #target-audience-section #target-audiences .target-audience h3 {
  background-image: var(--primary);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;

  text-align: start;
}

#app
  #target-audience-section
  #target-audiences
  .target-audience
  .line-target-audience {
  width: 0.2rem;
  height: 2.4rem;

  background: var(--primary);
}

#app #target-audience-section #target-audiences .target-audience p {
  color: var(--foreground);

  font-size: 1.8rem;

  line-height: 2rem;
}
