* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --background: linear-gradient(
    to left top,
    #573aac 0%,
    #4c3398 26%,
    #3c277a 53%,
    #0d0d0d 100%
  );
}

body * {
  font-size: 1.6rem;
}

#app {
  min-height: 100vh;

  background: var(--background);
}
