* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --background: linear-gradient(
    to left top,
    #573aac 0%,
    #4c3398 26%,
    #3c277a 53%,
    #0d0d0d 100%
  );
  --primary: linear-gradient(to right, #f5aa35 0%, #e96233 100%);
  --foreground: #ffffff;
}

body * {
  font-size: 1.6rem;
  font-family: "Inter", serif;
}

.max-width {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 3rem;
}

#app {
  min-height: 100vh;

  background: var(--background);
}

#app header {
  padding: 8rem 0 2.4rem;
}

#app header img {
  width: 12.8rem;
}

#app #home-section {
  padding: 2.4rem 0;
}

#app #home-section .max-width {
  display: flex;
  flex-wrap: wrap;
  gap: 4.8rem;
}

#app #home-section #column-1-home-section {
  flex: 1;
}

#app #home-section h1 {
  font-size: 3.6rem;
  font-weight: 400;

  line-height: 4rem;

  background-image: var(--primary);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

#app #home-section h2 {
  font-size: 2.4rem;
  font-weight: 400;

  line-height: 3rem;

  color: var(--foreground);

  margin: 4.8rem 0;
}

#app #home-section button {
  font-size: 2.4rem;
  font-weight: 400;

  line-height: 3rem;

  color: var(--foreground);

  background: var(--primary);

  border: none;
  border-radius: 9999px;

  padding: 1.2rem 2.4rem;

  cursor: pointer;
}

#app #home-section img {
  width: 100%;
  max-width: 67.2rem;
}
